

@font-face {
    font-family: 'be_vietnamextrabold_italic';
    src: url('./bevietnam-extrabolditalic-webfont.woff2') format('woff2'),
         url('./bevietnam-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'be_vietnamextrabold_italic';
    src: url('./bevietnam-extrabolditalic-webfont.woff2') format('woff2'),
         url('./bevietnam-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'be_vietnamextrabold';
    src: url('./bevietnam-extrabold-webfont.woff2') format('woff2'),
         url('./bevietnam-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'be_vietnambold_italic';
    src: url('./bevietnam-bolditalic-webfont.woff2') format('woff2'),
         url('./bevietnam-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'be_vietnambold';
    src: url('./bevietnam-bold-webfont.woff2') format('woff2'),
         url('./bevietnam-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'be_vietnamsemibold_italic';
    src: url('./bevietnam-semibolditalic-webfont.woff2') format('woff2'),
         url('./bevietnam-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'be_vietnamsemibold';
    src: url('./bevietnam-semibold-webfont.woff2') format('woff2'),
         url('./bevietnam-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'be_vietnammedium_italic';
    src: url('./bevietnam-mediumitalic-webfont.woff2') format('woff2'),
         url('./bevietnam-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'be_vietnammedium';
    src: url('./bevietnam-medium-webfont.woff2') format('woff2'),
         url('./bevietnam-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'be_vietnamitalic';
    src: url('./bevietnam-italic-webfont.woff2') format('woff2'),
         url('./bevietnam-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'be_vietnamregular';
    src: url('./bevietnam-regular-webfont.woff2') format('woff2'),
         url('./bevietnam-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'be_vietnamlight_italic';
    src: url('./bevietnam-lightitalic-webfont.woff2') format('woff2'),
         url('./bevietnam-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'be_vietnamlight';
    src: url('./bevietnam-light-webfont.woff2') format('woff2'),
         url('./bevietnam-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'century_gothicregular';
    src: url('./century_gothic-webfont.woff2') format('woff2'),
         url('./century_gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
