

/* css by deepak pal */

body{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.worksans{
  font-family: "Work Sans", sans-serif;

}

.lineheightcustom {
  line-height: 80px !important;
}

.grianetcolor {
  background: #0052d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6fb1fc,
    #4364f7,
    #0052d4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6fb1fc,
    #4364f7,
    #0052d4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button[type="submit"] {
  -webkit-appearance: button;
  background-color: #540C0F !important;
  background-image: none;
}

.css-1nmdiq5-menu {
  z-index: 999;
}

.tox .tox-editor-container {
  z-index: 1;
}

.font-semibold {
  font-family: "be_vietnamsemibold" !important;
}

.font-normal {
  font-family: "be_vietnamregular" !important;
}

.font-bold {
  font-family: "be_vietnambold" !important;
}

.font-medium {
  font-family: "be_vietnammedium" !important;
}

.font-light {
  font-family: "be_vietnamlight" !important;
}

.regularcentury_gothicregular {
  font-family: "century_gothicregular";
}

/* 
.forarrows .swiper-pagination{
    left: 0px;
    bottom: 80px;
} */

.slidetop {
  animation: slideTop 0.5s ease-in-out forwards;
}

@keyframes slideTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  overflow: hidden;
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.phonenumber .form-control {
  border-radius: 0px !important;
  background: #ffffff00 !important;
  border-bottom: 1px solid #fff !important;
  border-radius: 5px;
  line-height: 25px;
  height: 35px;
  width: 300px;
  color: #fff !important;
  outline: none;
  border-bottom: 1px solid #fff !important;
}

.phonenumber .react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: transparent !important;
  border: none !important;
  border-radius: 3px 0 0 3px;
}

.phonenumber .react-tel-input .selected-flag:hover,
.phonenumber .react-tel-input .selected-flag:focus {
  background-color: transparent !important;
}

.react-tel-input .form-control {
  background: #fff;
  border: none !important;
  border-bottom: 1px solid #fff !important;
  border-radius: 5px;
  font-size: 14px;
  height: 35px;
  letter-spacing: 0.01rem;
  line-height: 25px;
  margin-bottom: 0 !important;
  margin-left: 0;
  margin-top: 0 !important;
  outline: none;
  padding-left: 48px;
  position: relative;
  width: 300px;
  --tw-shadow: 0px 0px 0px 1px rgba(218, 186, 48, 0.08),
    0px 1px 2px 0px rgba(164, 172, 185, 0.24) !important;
  --tw-shadow-colored: 0px 0px 0px 1px var(--tw-shadow-color),
    0px 1px 2px 0px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)),
    var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow) !important;
}

.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: #f5f5f5;
  border: none !important;
  border-radius: 3px 0 0 3px;
}

.bg_images {
  background-image: url("/assets/img/main_image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

@media (max-width: 767px) {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 22px !important;
  }
}

/* @media  (min-width:992px) {
  .svg_scrns svg {
    top: 0px;
    left: 0px;
    z-index: 1;
    box-sizing: border-box;
    border: 10px solid rgba(0, 0, 0, 0.2) !important;
    height: 280px !important;
    width: auto !important;
    margin: 0 auto;

}
}

.svg_scrns svg {
  
  border: 6px solid rgba(0, 0, 0, 0.2) !important;
  width: 100%;
  margin: 0 auto;

} */

/* Remove focus outline from all input and form elements */
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

/* Optional: Apply custom styles for focused elements if needed */
input:focus,
textarea:focus,
select:focus,
button:focus {
  border-color: initial; /* Reset border color or set to a desired color */
}

/* Ensure date picker icon is visible on iOS */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: white; /* Change icon color */
  opacity: 1; /* Ensure visibility */
  cursor: pointer; /* Pointer cursor on hover */
}

.imgtext {
  border-radius: 10px !important;
  overflow: hidden;
}

input[type="date"] {
  position: relative;
  padding: 0px 0px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}

input[type="date"]::placeholder {
  color: #fff !important;
}

input[type="date"]:before {
  color: transparent;
  background: none;
  display: block;
  font-family: "FontAwesome";
  content: "\f073";
  /* This is the calendar icon in FontAwesome */
  width: 15px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 6px;
  color: #999;
}

.outer-container {
  position: relative;
}

.inner-container {
  overflow: auto;
  padding-right: 15px; /* Adjust this value to match the width of the scrollbar */
  max-height: 100%; /* Adjust the height as needed */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.inner-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.inner-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.swiper-slide:last-child {
  border: none;
}

.swiper-slide {
  border-right: 1px solid #e3e3e3;
}

.sm\:row-span-2.sm\:col-start-2.sm\:row-start-1.height_smaes img {
  height: 100%;
}

/* a:hover {
  color: #540C0F !important;
}
 */
:where(.css-dev-only-do-not-override-djtmh8) a:hover {
  color: #540C0F !important;
}

.ant-popover-inner-content a:hover {
  color: #540C0F !important;
}

.wfull .react-date-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: none !important;
}
.wfull {
  width: 100%;
  border-bottom: 1px solid #fff;
}

.react-date-picker__button:enabled:hover .react-date-picker__button__icon,
.react-date-picker__button:enabled:focus .react-date-picker__button__icon {
  stroke: #540C0F !important;
}
.wfull .react-date-picker__button svg {
  stroke: #fff;
}

.wfull span.react-date-picker__inputGroup__divider {
  color: #fff;
}
.wfull span.react-date-picker__inputGroup__divider {
  color: #fff;
}
.wfull .react-calendar__tile--now {
  background: #540C0F;
}
.wfull input {
  color: #fff;
}

.wfull input::placeholder {
  color: #fff;
  font-size: 13px;
}


.p::placeholder{
  font-size: 16px !important;
  color: #696969 !important;
  font-weight: 500 !important;
}

.formWrapper.relative {
  width: 100%;
}

.logins {
  width: 100%;
}

.logins input {
  color: #000 !important;
}
.logins .react-date-picker__inputGroup {
  height: 40px;
  padding: 0px 10px;
  

}

.logins span.react-date-picker__inputGroup__divider {
  color: #000;
}
.logins .react-date-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0);
}
.logins input::placeholder {
  color: #000;
}
.logins .react-date-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: thin solid transparent !important;
    border-radius: 5px;
    --tw-shadow: 0px 0px 0px 1px rgba(218, 186, 48, 0.08),
    0px 1px 2px 0px rgba(164, 172, 185, 0.24) !important;
    --tw-shadow-colored: 0px 0px 0px 1px var(--tw-shadow-color),
    0px 1px 2px 0px var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow) !important;
}


@media (min-width: 640px) and (max-width: 750px) {
  .hide640 {
    display: none !important;
  }
}


@media (min-width: 300px) and (max-width: 420px) {
  .hide640 {
    display: none !important;
  }
}




 .ant-steps.ant-steps-vertical >.ant-steps-item .ant-steps-item-title {
  line-height: 20px !important;
}

@media (max-width:767px){
  .css-13cymwt-control {
    height: auto !important;
    font-size: 12px !important;
}
}
.imageResponsive {
  height: 66px;
  width: 66px;
}

@media (max-width: 1000px) {
  .imageResponsive {
    height: 105px;
    width: 102px;
  }
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #540C0F;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}



/* Add this CSS to your stylesheet */
.shine-loader {
  background: linear-gradient(110deg, #f0f0f0 8%, #e0e0e0 18%, #f0f0f0 33%);
  background-size: 200% 100%;
  animation: shine 1.5s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% 0;
  }
}

/* 
@media  (min-width:1026px) and (max-width:1535px) {
  .bg-\[\#FEF4F4\].p-4.group:last-child {
    display: none;
}
} */


button.swal2-confirm.swal2-styled.swal2-default-outline {
  border: 1px solid #540C0F;
  background: #540C0F !important;
  color: #fff;
}


div:where(.swal2-container) div:where(.swal2-popup) {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  width: 28em !important;
  max-width: 100%;
  padding: 0 0 1.25em;
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #545454;
  font-family: inherit;
  font-size: 1rem;
}

button.swal2-cancel.swal2-styled.swal2-default-outline {
  background: #8f8f8f !important;
}


.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #ee695e !important;
}


.gridstowslide .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.gridstowslide .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f5f5f5;
  height: calc((100% - 30px) / 2) !important;
  border: none !important;
  /* display: flex; */
  justify-content: center;
  align-items: center;

    border-radius: .75rem;

}


.gridstowslide .swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: inherit !important;
}


@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}

.move-right-animation {
  animation: moveRight 2s ease-in-out infinite;
}



/* @media (min-width:768px) {
  .svg_scrns svg {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    border: 4px solid #e2e2e2 !important;
  }
} */ 
 
.svg_scrns video {
  height: 200px !important;
  width: 200px !important;
  margin: 0 auto;
  margin-top: 0px;
  border: 4px solid #e2e2e2 !important;
}

.svg_scrns svg {
  height: 200px !important;
  width: 200px !important;
  margin: 0 auto;
  margin-top: 0px;
  border: 4px solid #e2e2e2 !important;
}



.text-stroke-3 {
  -webkit-text-stroke: 5px #fff;
}


@font-face {
  font-family: 'prowestor';
  font-style: normal;
  font-weight: normal;
  src: local('burgus script'), url('/public/assets/font/norwester.ttf') format('woff');
}

.pro{
  font-family: 'prowestor';
}


.tele{
  font-family: 'telegraph';
}

@font-face {
  font-family: 'telegraph';
  font-style: normal;
  font-weight: normal;
  src: local('burgus script'), url('/public/assets/font/PPTelegraf-UltraBold.otf') format('woff');
}